@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "Home.scss";
*{
    margin :0;
    padding-top: 0;
    padding: 3px;
   // font-family: $text1;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a{
   text-decoration: none; 
}
body{
    background-color: whitesmoke;
    overflow-x: hidden;
    height: 100%;
   
}
.disablebtn{
    background-color: rgb(237,237,237);
    cursor: not-allowed;

}
#Homepage{
    >nav{
        background-color: rgb(252, 250, 250);
        border-bottom: 2px  solid;
    }
}